$border: 1px solid rgba(145, 145, 145, 0.672);
.wrapper {
  padding: 24px;
  .MuiButton {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    svg {
      margin-right: 10px;
    }
  }
  .titlebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: $border;
    border-radius: 8px;
    padding: 0 20px;
    background: #6bb66ba6;
    .search {
      height: 60px;
      padding: 0 20px;
      align-items: center;
      background: white;
      display: flex;
      border-left: $border;
      border-right: $border;
    }
  }

  ul {
    padding: 0;
    list-style-type: none;
    li {
      &:not(.header) {
        opacity: 0;
        animation: appear-up 0.3s ease-out forwards;
      }

      display: flex;
      background: rgb(195 221 241 / 48%);
      border: $border;
      margin-bottom: 10px;
      border-radius: 8px;
      box-shadow: 0 0 8px 2px #0000001f;
      &.header {
        font-weight: bold;
      }
      > div {
        padding: 10px;
        display: flex;
        gap: 8px;
        &:nth-child(1),
        &:nth-child(2) {
          flex: 0 0 19%;
        }

        &:nth-child(3) {
          flex: 0 0 8%;
        }
        &:nth-child(4),
        &:nth-child(5) {
          flex: 0 0 20%;
        }
        &:nth-child(6) {
          flex: 0 0 14%;
        }
        &:not(:last-child) {
          border-right: $border;
        }
      }
    }
  }
  .actions {
    .button {
      height: 38px;
      width: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
//list item animations
@keyframes appear-up {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
