.navigation {
  float: right;
  display: flex;
  align-items: center;
  gap: 12px;
  svg {
    width: 36px;
    height: 36px;
  }
  ul {
    display: block;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    li {
      display: inline-block;

      position: relative;
      padding: 0;
      text-align: center;
    }
  }
}
