@mixin fixHeader {
  @include getBrandBg(center, $bg-gradient-primary);
  border: 0.14em solid rgb(0 0 0 / 67%);
  border-top: none;
  box-shadow: 0 5px 15px #80808087;
  color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  h1 {
    text-shadow: 6px 6px 5px rgb(26, 26, 26);
  }
}
.main {
  transition: all 0.15s ease;
  position: fixed;
  box-sizing: content-box;
  z-index: 8;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: $bodyMaxWidth;

  &.fixed {
    @include fixHeader;
  }
  * {
    transition: all 0.2s ease-in-out;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    width: 100%;
    gap: 30px;
    h1 {
      white-space: nowrap;
    }
    .session {
      display: flex;
      gap: 20px;
      align-items: center;
    }
  }
}
